* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  width: 234px;
  margin: 0 5px 0 20px;
}

.background{
  position: absolute;
  opacity: 1;
  // width: 100vw;
  // height:100vh;
  width: 100vw;
  height: 100vh;
  top: 0; 
  z-index: -100;
  background-image: url('../assets/images/main/back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
  transition: all .7s;
}
// body::before {
//   content: "";
//   position: absolute;
//   opacity: 1;
//   // width: 100vw;
//   // height:100vh;
//   width: 200vw;
//   height: 200vh;
//   top: 0; 
//   transform: rotate(-11deg);
//   z-index: -100;
//   background-image: url('../assets/images/main/back.svg');
//   background-repeat: no-repeat;
//   transition: all 0.7s;
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .social {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

nav {
  margin-top: 60px;

  .nav {
    .nav-block {
      margin-bottom: 30px;

      .nav__item {
        margin-bottom: 5px;

        strong {
          margin-bottom: 10px;
        }
      }
    }
  }

  .nav__logo {
    position: absolute;
    right: 0;
    bottom: 3%;
  }
}

footer {
  padding: 10px 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}


@media(min-width:1024px)and(max-width:1280px){
  .nav-container{
    width: 200px;
  }
}
@media(min-width:1024px)and(max-width:1439px) {
  

  nav {
    .nav {
      .nav-block {
        margin-bottom: 20px;

        .nav__item {
          margin-bottom: 3px;
        }
      }
    }
  }
}
@media(max-width:1023px){
  .nav-container{
    display: none;
    position: absolute;
  }
  
}