.top{
  .top__background{
    position: absolute;
    top:0;
    left:0;
    z-index: -3;
    width: 100%;
  }
  .front{
    z-index: -1;
  }
  .top__title{
    position: absolute;
    top:16vw;
    left:21%;
    z-index: -2;
  }
}
.concept{
  .consept-block{
    .concept__img{
      position: absolute;
      top: 4vw;
      left:-8vw;
      width: 40vw;
      height: 40vw;
      border-radius:700px;
      overflow:hidden;
      filter: drop-shadow(0px -5px 100px rgba(0, 0, 0, 0.5));
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .concept__item{
      position: absolute;
      top:5vw;
      right:5vw;
      max-width: 27vw;
      .concept__text{
        margin: 20px 0 30px;
      }
      .arrows{
        .arrow:last-child{
          margin-left: 20px;
          transform: scale(-1);
        }
      }
    }
  }
  .about-title{
    right:0;
    .title__number{
      right: 0;
    }
  }
}
.locate{
  .locate-block{
    display: flex;
    flex-direction: column;
    .locate__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      padding-top: 25px;
      span{
        text-align: center;
      }
    }
  }
  .map{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image:url('../assets/images/about/map.png');
    background-size: cover;
  }
}
.plan{
  .plan-block{
    .plan__img{
      position: absolute;
      top:0;
      left:0;
      z-index: -1;
      width: 100%;
    }
    .plan__items{
      position: absolute;
      right:75px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
.news{
  position: absolute;
  top:0;
  left:0;
  z-index: -3;
  width: 100%;
  padding: 70px 40px;
  background-color: #533232;
  .news__title{
    text-align: center;
    padding-bottom: 20px;
  }
  .news-block{
    width: 100%;
    display: flex;
    padding-bottom: 100px;
    flex-wrap: wrap;
    .news__item{
      width: 31%;
      margin: 1%;
      position: relative;
      img{
        width: 100%;
        z-index:-1;
      }
      .news__text{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        position: absolute;
        bottom:0;
        padding: 0 40px 30px 40px ;
        background: linear-gradient(0deg, #FFFFFF 32.81%, rgba(196, 196, 196, 0) 84.9%),
                  linear-gradient(0deg, #CAB5B5 32.81%, rgba(196, 196, 196, 0) 84.9%);
      }
    }
  }
}
@media(min-width:1441px)and(max-width:1600px){
  .concept{
    .about-title{
      right: 5vw;
      .title__number{
        right: 0;
      }
    }
  }
}
@media(min-width:1281px)and(max-width:1440px){
  .concept{
    .consept-block{
      .concept__img{
        top:6.5vw;
        left:-1.5vw;
      }
      .concept__item{
        top:8.8vw;
        right:2vw;
        .arrows{
          .arrow{
            height: 40px;
          }
          .arrow:last-child{
            margin-left: 10px;
          }
        }
      }
    }
    
  }
}
@media(min-width:1024px)and(max-width:1280px){
  .concept{
    .consept-block{
      .concept__item{
        max-width:32vw;
      }
    }
    
  }
}