.container {
  margin: 2vh 40px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
body::before{
  height: 500vh;
}
.flats-container {
  display: flex;
  flex-wrap: wrap;
  
}
.single-container{
  width: 73vw;
  height: 85vh;
  display: flex;
}
header{
  .social {
    right: 0;
    top: 5px;
    width: 95px;
  }
}
.filter {
  width: 200px;
  margin-right: 10px;
}
.prefs{
  display: flex;
  flex-wrap: wrap;
  .pref__item{
    border:1px solid $green;
    border-radius:10px;
    padding: 4px 5px;
    margin: 0 5px 5px 0;
  }
}
@media(min-width:1780px) {
  .container {
    max-width: 1700px;
    margin: 2vh auto 0;
  }
}
@media(min-width:1690px){
  .flats-container{
    width: 1140px;
  }
}
@media(min-width:1024px)and(max-width:1280px){
  .flats-container{
    width: 510px;
  }
  .single-container{
    height: 82vh;
  }
}
@media(min-width:1280px)and(max-width:1439px){
  .flats-container{
    width: 765px;
  }
}
@media(min-width:1440px)and(max-width:1689px){
  .flats-container{
    width: 855px;
  }
}
@media(max-width:1023px){
  .container{
    margin: 3vh 15px 2vh;
  }
  .main-container{
    width: 100%;
  }
  header{
    height: 30px;
    .nav-button{
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      transition: all .7s;
      .nav__button{
        width: 20px;
        height: 2px;
        margin: 2.5px 0;
        background:$black;
        transition: all .7s;
      }
    }
    .nav-button_active{
      .nav__button:first-child{
        transform: rotate(45deg) translate(5px,5px);
      }
      .nav__button:nth-child(2){
        opacity: 0;
      }
      .nav__button:last-child{
        transform: rotate(-45deg) translate(5px,-5px);
      }
    }
  }
  .social{
    padding:10px;
    float:right;
    width: 100px;
    display: flex;
    justify-content: space-between;
    top:auto;
    img{
      height: 30px;
    }
  }
  footer{
    padding-top:10px;
    flex-direction: column;
  }
}
@media(min-width:1024px)and(max-width:1439px) {
  header {
    .social {
      width: 90px;

      a:nth-child(1) img {
        height: 30px;
      }

      a:nth-child(2) img {
        height: 35px;
      }
    }
  }
  .nav-container{
    width: 200px;
    margin: 0 0 0 15px;
  }
}